.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #eef4f6;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.headerContainer h1 {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}