server:
  error:
    include-message: always
    include-binding-errors: always

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/registration?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root         
    password: '@Scrum380'
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update    
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

  mail:
      host: smtp.gmail.com
      port: 587
      username: leoyegh@gmail.com            
      password: aclg lrsu owpu tdkh             # for Gmail, use a 16-char App Password
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true
