.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(200.00deg, #80a8dd 60%, #9383FB 100%);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.headerContainer h1 {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.headerContainer .button {

  background-color: white;
  color: rgb(40, 40, 224);
  text-decoration: none;
  display: inline-block;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  line-height: 35px;
  font-weight: 700;
}