spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:mysql://localhost:3306/fitpath?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root            # <-- your local MySQL user
    password: "@Scrum380"     # <-- your local MySQL password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: YOUR_GMAIL_ADDRESS_HERE
    password: "YOUR_APP_PASSWORD_HERE"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 5000
  error:
    include-message: always
    include-binding-errors: always
