spring:
  datasource:
    url: jdbc:mysql://fitpath.cg7ys4qcefrj.us-east-1.rds.amazonaws.com:3306/fitpath
    username: admin
    password: "THISisaPASSWORD8" 
    driver-class-name: com.mysql.cj.jdbc.Driver
 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: leoyegh@gmail.com
    password: "aclg lrsu owpu tdkh"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  
  profiles:
    active: local

server:
  error:
    include-message: always
    include-binding-errors: always
